@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

:root{
    --primario: #8338ec;
    --orange: #fb5607;
    --pink: #ff006e;
}

body.violet{
    --primario:var(--primario);
}

body.orange{
    --primario:var(--orange);
}

body.pink{
    --primario:var(--pink);
}


/* menu hamburguesa---------------------------------- */

.menu{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: all 1s;
}

.menu.close div:nth-of-type(1){
    transform: rotate(45deg) translateY(7px);
}

.menu.close div:nth-of-type(2){
    display: none;
}

.menu.close div:nth-of-type(3){
    transform: rotate(-45deg) translateY(-7px);
}

.menu.close{
    transform: translate(4px);
}

.menu div{
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 2px;
    transition: all .5s;
}

.menu div:nth-of-type(2){
    margin-top: 5px;
}


.menu div:nth-of-type(3){
    margin-top: 5px;
}



.aside{
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: all .5s;
}

.aside li{
    font-size: 20px;
    list-style: none;
}

.aside li{
    margin-bottom: 20px;
}

.aside li a{
    text-decoration: none;
    color: black;
}

.aside.open{
    left: 0;
}



/* -------------------------------------------- fin menu hamburguesa */

/* logo-------------------------- */

.logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 15px;
}

.logo svg{
    width: 40px;
    height: 40px;
    fill: var(--primario);
    z-index: 2;
}

/* opciones de colores--------------------------------------------- */

.options{
    position: absolute;
    display: flex;
    height: 30px;
    width: 120px;
    bottom: 70px;
    right: 0px;
    transition: all .3s;
}

.options.show{
    right: 20px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  7px 7px 22px #c7c7c7,
                 -7px -7px 22px #f9f9f9;
}

.options .colors{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.options .colors .color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.colors .violet{
    background-color: #8338ec;
    cursor: pointer;
}

.colors .orange{
    background-color: var(--orange);
    cursor: pointer;
}

.colors .pink{
    background-color: var(--pink);
    cursor: pointer;
}

.colors.hide{
    display: none;
}

.option{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.option .svg{
    width: 100%;
    height: 100%;
    fill: var(--primario);
}




/* version escritorio------------------------------------------ */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}


.container .slider .img{
    background-color: var(--primario);
    border-radius: 78% 22% 23% 77% / 53% 7% 93% 47% ;
}


.container .slider .img img{
    width: 370px;
    border-radius: 45% 55% 23% 77% / 66% 27% 93% 34% ;
    transform: rotate(25deg) translateY(20px) translateX(30px);
}

.container .content{
    width: 50%;
    height: 50%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .content h2{
    font-size: 50px;
}

.container .content h2 span{
    color: var(--primario);
}

.container h3{
    letter-spacing: 15px;
    margin-top: -18px;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    padding-left: 12px;
}

.container .content p{
    width: 500px;
    text-align: justify;
    color: #6c6b6e;
}

.btn-box{
    width: 100%;
    display: flex;
}

.btn{
    background-color: var(--primario);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* formulario----------------------------------------------------- */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.form.hide{
    display: none;
}

.container .slider .img.form-on img{
    width: 170px;
    height: 30%;
    transition: all .5s;
}

.container .slider .img.form-on img{
    width: 170px;
    /* height: 30%; */
    transition: all .5s;
}

.container .content.form-on{
    display: none;
}

.form .back{
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    background-color: var(--primario);
    cursor: pointer;
}



@media only screen and (max-width: 1100px) {

    .container{
        flex-direction: column;
    }

    .container .slider{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .container .slider .img img{
        width: 270px;
        transition: all .3s;
    }


    .container .content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .container .content h2{
        font-size: 40px;
    }

    .container h3{
        letter-spacing: 13px;
        font-size: 20px;
    }

    .container .content p{
        width: 100%;
    }

    .btn-box{
        width: 100%;
        display: flex;
    }

    .btn{
        padding: 10px;
    }


    /* mostrar formulario de contacto--------------------- */

    .container .slider .img.form-on img{
        width: 170px;
        height: 30%;
        transition: all .3s;
    }


    .container .content.form-on{
        display: none;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
    }
    
    .form .back{
        border: none;
        border-radius: 5px;
        padding: 3px 10px;
        color: white;
        background-color: var(--primario);
    }
    
    
    .form.hide{
        display: none;
    }


}