@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: var(--quaternary-color);
}

:root{
    --naranja: #E76235;
    --primary-color: #000000;
    --secundary-color: #333;
    --tertiary-color: #989797;
    --quaternary-color: #fff;
}

.darkmode{
    --quaternary-color: #000000;
    --primary-color: #fff;
    --secundary-color: #fff;
}

/* CSS NADVAR--------------------------------------------- */

nav ul{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a i{
    color: var(--naranja);
    font-size: 3rem;
    margin-right: 10px;
    margin-left: 20px;
}

nav ul li a h1{
    font-size: 3rem;
    letter-spacing: 5px;
    color: var(--primary-color);
}

.btn_dark{
    border: none;
    background-color: var(--quaternary-color);
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
}

.btn_dark .fa-solid{
    font-size: 40px;
    color: var(--primary-color);
}

.btn_dark .fa-solid.hide{
    display: none;
}


/* fin del nav */



/* CSS SECTION ------------------------------------- */

.presentacion{
    display: flex;
    height: calc(100vh - 80px);
}

.contenedor_imagen_harold{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.contenedor_imagen_harold img{
    height: 450px;
    border-radius: 50%;
}

.contenido_presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.contenido_presentacion h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--secundary-color);
    letter-spacing: 2px;
}

.contenido_presentacion h2 span{
    margin-left: 12px;
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--naranja);
}

.contenido_presentacion p{
    text-align: justify;
    font-size: 20px;
    width: 500px;
    color: var(--secundary-color);
}

.contenido_presentacion p i{
    font-size: 25px;
    margin-right: 10px;
    color: var(--primary-color);
}

.contenido_presentacion p span{
    font-weight: 700;
    color: var(--primary-color);
}

.creador{
    position: absolute;
    color: var(--tertiary-color);
    bottom: 20px;
    right: 30px;
}


/* CSS RESPONSIVE---------------------------------- PANTALLA MEDIANA */

@media screen and (max-width: 1000px){

    .proyectos{
        left: 50px;
    }

    .presentacion{
        flex-direction: column;
    }

    .contenedor_imagen_harold{
        margin-top: 80px;
        width: 100%;
    }

    .contenedor_imagen_harold img{
        height: 350px;
        border-radius: 50%;
    }

    .contenido_presentacion{
        margin-top: 30px;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 850px){
    .proyectos{
        display: none;
    }
}

/* CSS RESPONSIVE---------------------------------- MOVIL */

@media screen and (max-width: 650px){

    nav{
        justify-content: space-evenly;
    }

    .proyectos{
        display: none;
    }

    nav a h1{
        font-size: 25px;
        letter-spacing: 2px;
    }

    .btn_dark{
        border: none;
        background-color: var(--quaternary-color);
        padding-left: 10px;
        position: static;
        display: none;
    }

    
    .btn_dark .fa-solid{
        font-size: 30px;
        color: var(--primary-color);
    }

    .contenedor_imagen_harold{
        margin-top: 60px;
    }

    .contenedor_imagen_harold img{
        height: 350px;
        border-radius: 50%;
    }


    .contenido_presentacion{
        margin: 20px;
        width: 90%;
    }

    .contenido_presentacion h2{
        margin-bottom: 5px;
        color: var(--secundary-color);
        text-align: center;
        font-size: 20px;
    }

    .contenido_presentacion p{
        width: auto;
        padding: 10px;
    }

    .contenido_presentacion h2 span{
        font-size: 40px;
    }
}